body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
    margin: 16px 12px;
  text-decoration: none;
}
.navigation-button{
  display: block;
  text-align: center;
  margin: 14px 16px;
 
}

ul li a:hover {
  background-color: #111111;
}